body {
    margin: 0;
    background-color: #fff;
}

#navbar {
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c6c6c6;
    height: 6vw;
    font-size: 18px;
}

#bars{
    font-size: 1.5vw;
    cursor: pointer;
}

#logo {
    display: flex;
    align-items: center;
    width: 20%;
    height: 50%;
    margin-left: 20px;
}

#logo img {
    width: 7.3vw;
    margin-left: 2vw;
}

#center {
    width: 55vw;
    border: 1px solid #c6c6c6;
    margin: 0 10px;
}

#search {
    display: flex;
    align-items: center;
    width: 55vw;
    height: 60%;
    background-color: #f1f1f1;
}

#search input {
    width: 90%;
    height: 2.5vw;
    border: none;
    border-right: 1px solid #c6c6c6;
    padding-left: 10px;
    font-size: 1.5vw;
}

#search span {
    font-size: 1.5vw;
    padding-left: 1.3vw;
    cursor: pointer;
}

#end {
    margin-left: 7vw;
    margin-right: 2vw;
    width: 10%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#mic {
    font-size: 1.5vw;
    padding: 1vw 1.2vw;
    border-radius: 100px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

#other {
    font-size: 1.5vw;
    padding: 0 1vw;
    margin: 0.2vw;
    cursor: pointer;
}

#other:hover {
    padding: 1.1vw 1vw;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

#videodiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mons {
    border: none;
    width: 23vw;
    height: 13vw;
    margin: 25px 10px;
}

@media screen and (max-width: 1024px) {
    .mons {
        width: 30vw;
        height: 17vw;
    }
}

@media screen and (max-width: 768px) {
    .mons {
        width: 47vw;
        height: 26vw;
    }
}

@media screen and (max-width: 425px) {
    .mons {
        width: 96vw;
        height: 53vw;
    }
}