* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

#navbar {
    height: 80px;
    padding: 10px 20px;
    background-color: white;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftSection {
    height: 100%;
    display: flex;
    align-items: center;
}

.leftSection i {
    cursor: pointer;
    margin-right: 20px;
}

.leftSection img {
    cursor: pointer;
    height: 100%;
}

.centerSection {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.centerSection input, .centerSection input:focus {
    border: none;
    outline: none;
}

#search {
    height: 100%;
    width: 500px;
    display: flex;
    align-items: center;
    border: 1px solid #e9e9e9;
    border-radius: 100px;
    padding-left: 10px;
    overflow: hidden;
}

.searchbtn {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e9e9e9;
    aspect-ratio: 2/1;
    cursor: pointer;
}

.mic {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #e9e9e9;
    border-radius: 100px;
    margin-left: 20px;
}

.mic:hover {
    background-color: #dbdbdb;
}

.rightSection {
    height: 100%;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.rightSection div {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 100px;
}

.rightSection .video:hover {
    background-color: #e9e9e9;
}

.rightSection .notification:hover {
    background-color: #e9e9e9;
}

.rightSection .profile:hover {
    background-color: #e9e9e9;
}


/* Main Section */

#videodiv {
    display: grid;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
}

.mons {
    width: 100%;
    aspect-ratio: 16/9;
    border-radius: 15px;
}


@media screen and (min-width: 320px) {
    #navbar {
        padding: 10px;
    }

    .leftSection i, .mic{
        display: none;
    }

    .leftSection img {
        height: 70%;
    }

    .rightSection {
        display: none;
    }

    #search {
        width: 200px;
    }

    #videodiv {
        grid-template-columns: repeat(1, 1fr);
    }
}


@media screen and (min-width: 768px) {
    #navbar {
        padding: 10px 20px;
    }

    .leftSection i, .mic{
        display: flex;
    }

    .leftSection img {
        height: 100%;
    }

    .rightSection {
        display: flex;
    }

    #search {
        width: 300px;
    }

    #videodiv {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width: 1024px) {
    #search {
        width: 500px;
    }

    #videodiv {
        grid-template-columns: repeat(3, 1fr);
    }
}